/* CSS Document */

.people-header{
	position: relative;
    padding-bottom: .8rem;
	}

h3.dir-heading {
	text-align:left;
	display: inline-block;s
	}
/* Up and Down Arrows */
/* ascending */
.both:before, .wsuprofileTableHead.desc:before{
	content: "\25B2"; 
/*	content: "\25B4"; */
	font-size: 8px;
	position: absolute;
	top: -3px;
	display: inline-block;
	/* left: 60%;*/
	left:auto;
	right: 10px;
	

	}
/* descending */	
.both:after, .wsuprofileTableHead.asc:after{
	content: "\25BC"; 
/*	content: "\25BE";  */
	font-size: 8px;
	position: absolute;
	top: 3px;
	display: inline-block;
	left:auto;
	right: 10px;
/*	left: 60%; */
	
	}

.search-toolbar {
	position: absolute;
	right: 0;
	top: 50%;
	display: inline-block;
	margin-top: -16px;
	
	}
	
.search-toolbar input {
	display: inline-block;
	text-align: center;
	width:150px;
	height: 28px;
	padding-right: 20px;
	border: 1px solid;
    border-radius: 5px;
	}	

	
input::-webkit-input-placeholder {
font-size: .9rem;
}
 
input:-moz-placeholder { /* Firefox 18- */
font-size: .9rem; 
}
 
input::-moz-placeholder {  /* Firefox 19+ */
font-size: .9rem;
}
 
input:-ms-input-placeholder {  
font-size: .9rem;
}	
	
.search-toolbar input[type="button"] {
	display: inline-block;
 	margin-left: -35px; */
    height: 28px;
	vertical-align: middle;
    width: 35px;
	color: #fff;
	font-weight:700;
	background-color:#999;
	border: 1px solid #999;
}	

.close {
	position: absolute;
	left: 0;
	top: 0;
	padding: 3px 5px;
	background-color:#c60c30;
	color: #fff;
	font-weight: 600;
	}
	
.cahnrswp-people-single-profile {
	background-color: #FFF;
	border:#666 1px solid;
	padding: 2rem;
	position:absolute;
	max-height: 75%;
	max-width: 80%;
	left: 5%;
	top: 5%;
	overflow-y: auto;	
	display: none;
	z-index: 20;
	}
	
.cahnrswp-people-single-profile .profile-content { 
	padding-top: 2.5rem;

}

	
.cahnrswp-people-single-profile img {
	padding-right: 2rem;
	
	}
	
.wsuprofileTable {
	display: table;
	width: 100%;
	z-index: 1;
	}
	
.wsuprofileTableRowHeader,.wsuprofileTableRowData  {
	 display: table-row;
	/* width: 20%; */
	
	 
	}
	
.wsuprofileTableRowData {
	display: none;
	
	
	}	
	
/*	
.wsuprofileTableRowData:nth-child(old){
	background-color: #999;
}

.wsuprofileTableRowData:nth-child(even){
	background-color: #fff;
}
*/
.wsuprofileTableRowData:hover, .wsuprofileTableRowData:nth-child(even):hover, .wsuprofileTableHead:hover {	
	background-color: #ccc;
}

	
.wsuprofileTableHeading {
	display: table-header-group;
	}	
.wsuprofileTableBody {
	display: table-row-group;
	}
	
.wsuprofileTableCell, .wsuprofileTableHead {
	display: table-cell;

/*	width: 20%; */

	position: relative;
	text-align:left;
	border-bottom: 1px solid #ddd;
	}	
.wsuprofileTableHead { 
	vertical-align: bottom;
	text-transform: uppercase;
}
.wsuprofileTableCell {
	/*border-top: 1px solid #ddd; */	
	padding-top: .7rem; 
	vertical-align: top;
}
.wsuprofileTableCell.photo, .wsuprofileTableHead.photo {
/*	max-width: 114px; */
	width: 12%;
	padding: 7px 0 0;

}
.wsuprofileTableCell.photo img {
	width: 90%;
	 }
	
.wsuprofileTableCell.name {
/*    min-width: 180px; */
	width: 22%;
    padding-top: 1.25rem; 
}
.wsuprofileTableHead #name { 
	width: 22%;
}
#title, #deparment { 
	width: 17%;
/*	 padding-top: 1.25rem; */
}
#work-group { 
	width: 22%
/*	 padding-top: 1.25rem; */
}


.name {
	font-size: 1rem;
	font-weight: 400;
    line-height: .1rem;
   

	}

.phone-email {
	font-size: .75rem;
	padding: 5px 0;
	line-height: .40rem;
	}

.profile-link {
	font-size: .65rem;
	position: relative;
	}
a.profile-link:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-left-color: #981e32;
	border-width: 5px;
	margin-top: -5px;
	margin-left: 2px;
}
	}
		
.wsuprofileTableHead {

	font-size: .70rem;
	text-transform:uppercase;
	vertical-align:bottom;

	}	


.row-display {
	display:table-row; 

	}
.pagination {
	text-align: left;
	}
.pagination a {
	color: #717171;
	}	
.pagination a.active, a.next, a.previous  {
	color: #981e32;
	position: relative;
	}
	
/*
a.next:after, a.previous:before {
	text-align: left;
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    content: "";
    text-shadow: .1em .1em #666;
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: -14px;
    margin: auto;
    height: 14px;
    width: 14px;
    line-height: 1;
	}
*/
a.next:after, a.previous:before {
	left: 100%;
    top: 50%; 
    border: solid transparent;
    content: " ";
    height: 0;
    width: 5px;
    position: absolute;
  
    border-width: 7px;
    margin-top: -8.0px;
    margin-left: 2px;
}
a.next:after {
  border-left-color: #981e32;
}
a.previous:before { 
    left: -30%;
	border-right-color: #981e32;		
}

.paging_button {
    margin: 0 5px;
	position: relative;
}
/*
.paging_button.next:after, .paging_button.previous:before {
	text-align: left;
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    content: "";
    text-shadow: .1em .1em #666;
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: -14px;
    margin: auto;
    height: 14px;
    width: 14px;
    line-height: 1;
	}

.paging_button.next:after {
    text-align: right;
    content: "";
    left: auto;
}
.paging_button.previous.disabled, .paging_button.next.disabled {
	color: #999;
	}
*/	
	
.active {
	font-weight:Bold;
	}	
nav > a {
	padding: 0 .25rem;
	text-transform:uppercase;
	
	}	
	

@media screen and (max-width:1022px) {
	.cahnrswp-people-single-profile a.close {
		margin: -2rem auto auto -2rem;
	}
}
@media screen and (max-width:791px) {

}

@media only screen and (max-width:693px) {

.wsuprofileTable {
	padding-top: .5rem;
	}	

	
.wsuprofileTableRowHeader {
		display: none;
	}
.wsuprofileTableCell.name {
		width: 100%;
		line-height: .1rem;
		}
	.wsuprofileTableCell.photo {
		width: 100%;
		}
	.wsuprofileTableCell.photo img {	
		width: 40%;
	}
	
	.wsuprofileTableRowData {
		width: 100%;
		}
	.wsuprofileTableCell {
		display: block;
		border: none;	
		width: 100%;
		}	
	.wsuprofileTableCell.photo {	
		border-top: 1px solid #ddd;
	}
	h3.dir-heading {
		display: none;
		}
	.people-header {
		padding: 20px 0;
		}	
	.search-toolbar {
		left:0;
	}	
			
	.cahnrswp-people-single-profile { 
	max-width: 70%;
	}		
	
}

@media only screen and (max-width:480px) {
.wsuprofileTableCell.name {
		width: 100%;
		line-height: .1rem;
		}
	.wsuprofileTableCell.photo {
		width: 100%;
		}
	.wsuprofileTableCell.photo img {	
		width: 100%;
	}
	
	.wsuprofileTableRowData {
		width: 100%;
		}
	.wsuprofileTableCell {
		display: block;
		border: none;	
		width: 100%;
		}	
	.wsuprofileTableCell.photo {	
		border-top: 1px solid #ddd;
	}		


				
	h3.dir-heading {
		display: none;
		}
	.people-header {
		padding: 20px 0;
		}	
	.search-toolbar {
		left:0;
	}	
	.wsuprofileTableCell.photo {
		width: 45%;
		}
	
	
	}

@media only screen and (min-width:1188px) {

}

@media only screen and (min-width:1386px) {
	
}