/* CSS Document */

.profile-table {
	display: table;
	width: 100%;
	position: relative;
}
	
.profile-table-row-header, .profile-table-row-data  {
	 display: table-row;
	}
	
.profile-table-row-data {
	display: table-row;
	}	
	
.arrows {
	display: inline-block;
	margin-right: 5px;
	}

.both:before, .arrows.desc:before{
	content: "\25B2"; 
	font-size: 8px;
	position: absolute;
	top: -3px; 
	display: inline-block;
}
	
/* descending */	
.both:after, .arrows.asc:after{
	content: "\25BC"; 
	font-size: 8px;
	position: absolute;
	top: 3px;
	display: inline-block;
	}	

/*	
.profile-table-row-data:nth-child(old){
	background-color: #999;
}

.profile-table-row-data:nth-child(even){
	background-color: #fff;
}
*/
/*
.profile-table-row-data:hover, .profile-table-row-data:nth-child(even):hover, .profile-table-head:hover {	
	background-color: #ccc;
}
*/
	
.profile-table-heading {
	display: table-header-group;
	}
	


.profile-table-head { 
	vertical-align: bottom;
	text-transform: uppercase;
	display: inline-block;
	font-size: .70rem;
}	

.profile-table-cell, .profile-table-head {
	display: table-cell;
	position: relative;
	text-align:left;
	border-bottom: 1px solid #ddd;
	}	
	

.profile-table-Body {
	display: table-row-group;
	}

.profile-table-cell {	
	padding-top: .7rem; 
	vertical-align: top;
}
.profile-table-cell.photo, .profile-table-head.photo {
	width: 13%;
	padding: 7px 0 0;

}
.profile-table-cell.photo img {
	width: 90%;
	 }


.profile-table-cell.name, .profile-table-head.name {
	width: 24%;
 /*   padding-top: 1.25rem;   */
}


.profile-table-head.title, .profile-table-head.department { 
	width: 18%;

}
.profile-table-head.workgroup { 
	width: 24%

}


.profile-table-cell .phone-email {
	font-size: .75rem;
	padding: 5px 0;
	line-height: .40rem;
	}

.profile-table-cell .phone-email .profile-link {
	font-size: .65rem;
	position: relative;
	}
	
.phone, .email {
	
	}


.profile-table-cell .phone-email a.profile-link:after,
.profile-gallery article .profile-gallery-link a.profile-link:after{
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-left-color: #981e32;
	border-width: 5px;
	margin-top: -5px;
	margin-left: 2px;
}

		
.profile-table-head {
	font-size: .70rem;
	text-transform:uppercase;
	vertical-align:bottom;
	}	

/******* Gallery *************/

.profile-gallery {
/*	background: #fff; */
	
	}
.profile-gallery img {
	border: none;
	}	
	

.profile-gallery .profile-gallery-people-header {
	position:relative;
	}

.profile-gallery article {
    display: inline-block; 
    margin-top: 10px;
    width: 25%;
    vertical-align: top;
	margin-right: -4px;
	box-sizing:border-box;
	
	}	
	
 .hidden {
	position:absolute;
	top: -9999px;
	left: -9999px;
	visibility:hidden;
	}			


.profile-gallery article ul {
	list-style-type: none;
    margin: 0 .3rem .3rem;
    padding: 0;
}



.profile-gallery article > ul {

 background-color: #fff; 
  /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); */
   min-height: 325px;
   position: relative;
   
	
}
.profile-gallery article ul li {
	
	line-height: 1.3em;
	
}

.profile-gallery .show {
	display: inline-block;
	}

.profile-gallery article .profile-gallery-photo {
	margin-left:0%;
	
	}

.profile-gallery article .profile-gallery-photo img{	
	width: 100%;
	display: block;
	margin: 0 8px .3em 0; 
	}	
	
.profile-gallery article .profile-gallery-name {
	color: #981e32; 
	font-size: .95rem;
	font-weight: bold;
	}	
	
.profile-gallery article .profile-gallery-title {
	font-size: .80rem;
	}	
	
.profile-gallery article .profile-gallery-link a {

	font-size: .55rem;
	font-weight: bold;
	position: relative;
	}
	
.profile-gallery article .profile-gallery-link {	
	position: relative;
}

.profile-gallery .pagination {
	display: block;
    text-align: center;
	}



/****************************/

@media screen and (max-width:1022px) {
	.cahnrswp-people-single-profile a.close {
		margin: -2rem auto auto -2rem;
	}
}
@media screen and (max-width:791px) {

}

@media only screen and (max-width:693px) {

.profile-table {
	padding-top: .5rem;
	}	

.profile-table-row-header {
		display: none;
	}
.profile-table-cell.name {
		width: 100%;
		line-height: .1rem;
		}
	.profile-table-cell.photo {
		width: 70%
		}
	.profile-table-cell.photo img {	
		width: 100%;
	}
	
	.profile-table-row-data {
		width: 100%;
		}
	.profile-table-cell {
		display: block;
		border: none;	
		width: 100%;
		}	
	.profile-table-cell.photo {	
		border-top: 1px solid #ddd;
	}
	h3.dir-heading {
		display: none;
		}
	.people-header {
		padding: 20px 0;
		}	
	.search-toolbar {

		position: relative;
	}	
			
	.profile-table-cell .phone-email {
     	padding: 12px 0;
      }
	  
.cahnrswp-people-single-profile { 

	max-width: 95%;
	width: 93%;
	max-height: 90%;
	
	}		


	
	/**** gallery section *****/
	
	.profile-gallery article {
	  width: 50%;	
	}
	.profile-gallery .profile-gallery-people-header {
		position:relative;
		padding-bottom: 1.5rem;
	}

	
}

@media only screen and (max-width:480px) {
.profile-table-cell.name {
		width: 100%;
		line-height: .1rem;
		}
	.profile-table-cell.photo {
		width: 70%;
		}
	.profile-table-cell.photo img {	
		width: 100%;
	}
	
	.profile-table-row-data {
		width: 100%;
		}
	.profile-table-cell {
		display: block;
		border: none;	
		width: 100%;
		}	
		
	.profile-table-cell.photo {	
		border-top: 1px solid #ddd;
	}		


				
	h3.dir-heading {
		display: none;
		}
	.people-header {
		padding: 20px 0;
		}	
	.search-toolbar {
		position: relative;
	}	
	
	.search-toolbar input[type="button"] {

		height: 23px;
		background-size: 24px auto;
	
	}

	.profile-gallery article {
	  width: 100%;	
	}
	
	}

@media only screen and (min-width:1188px) {

}

@media only screen and (min-width:1386px) {
	
}