/* CSS Document */

/* Up and Down Arrows */
.sortable th.descend:after{
	content: "\25B2";
	}
.sortable th.ascend:after{
	content: "\25BC";
	}

.search-toolbar {
	padding: 0.5rem 0;
	text-align:right;	
	
	}

.close {
	text-align:right;
		
	}
	
.cahnrswp-people-single-profile {
	background-color: #FFF;
	border:#666 1px solid;
	padding: 2rem;
	position:absolute;
	max-height: 70%;
	width: 80%;
	left: 5%;
	top: 5%;
	display: none;
	z-index: 20;
	}
.cahnrswp-people-single-profile img {
	padding-right: 2rem;
	}
	
.wsuprofileTable {
	display: table;
	width: 100%;
	z-index: 1;
	}
	
.wsuprofileTableRowHeader,.wsuprofileTableRowData  {
	 display: table-row;
	}
	
.wsuprofileTableRowData {
	display: none;
	}	
	
	
.wsuprofileTableRowData:nth-child(old){
	background-color: #999;
}
.wsuprofileTableRowData:nth-child(even){
	background-color: #fff;
}
.wsuprofileTableRowData:hover, .wsuprofileTableRowData:nth-child(even):hover {	
	background-color: #ccc;
}

	
.wsuprofileTableHeading {
	display: table-header-group;
	}	
.wsuprofileTableBody {
	display: table-row-group;
	}
	
.wsuprofileTableCell, .wsuprofileTableHead {
	display: table-cell;
	padding: 3px 10px;
	vertical-align: top;
	}	
.wsuprofileTableCell {
border-top: 1px solid #ddd;
}

.wsuprofileTableHead {
/*	background-color: rgba(215,218,219,1); */
background-color: #ccc;
	font-weight:700;
/*	color: #fff; */
	}	
.wsuprofileTableFoot {
	display: table-footer-group;
	}	


.row-display {
	display:table-row; 

	}
.pagination {
	text-align: right;
	}
.pagination a {
	color: #999;
	}
.paging_button {
    margin: 0 5px;
	position: relative;
}

.paging_button.next:after, .paging_button.previous:before {
	text-align: left;
    font-size: 14px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    content: "";
    text-shadow: .1em .1em #666;
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: -14px;
    margin: auto;
    height: 14px;
    width: 14px;
    line-height: 1;
	}

.paging_button.next:after {
    text-align: right;
    content: "";
    left: auto;
}

