/* General */
.wsuwp-people-wrapper {
	color: #5e6a71;
}
.row .wsuwp-people-wrapper a {
	color: #981e32;
}
.row .wsuwp-people-wrapper a:hover {
	color: #c60c30;
}

/* Default output */
.wsuwp-people-wrapper.default:after {
	clear: both;
	content: ' 0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.wsuwp-people-wrapper.default * {
	box-sizing: border-box;
}
.default .wsuwp-person-container {
	display: block;
	float: left;
	padding-bottom: 35%;
	position: relative;
	width: 20%;
}
.default .person {
	background-color: #fff;
	bottom: 5px;
	display: block;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 5px;
	text-decoration: none;
	top: 0;
}
.default .person img {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
}
.default .card {
	padding: 0.5rem;
}
.default .wsuwp-person-name {
	font-weight: bold;
}

/* Table output */
.table table th,
.table table .wsuwp-person-container td {
	padding: 0.5rem;
}
.table table th {
	background-color: #D5D5D5;
	vertical-align: middle;
}
.table .wsuwp-person-container td {
	border-top: 1px solid #ddd;
}
.table .wsuwp-person-container:nth-of-type(odd) {
	background-color: #fff;
}
.table .wsuwp-person-container:nth-of-type(even) {
	background-color: #f9f9f9;
}
.table .wsuwp-person-container .photo,
.table .wsuwp-person-container .photo img {
	width: 84px;
}
.table .wsuwp-person-container .card {
	width: 234px;
}

/* Actions */
.people-actions {
	display: block;
	position: relative;
}
.default .people-actions {
	float: right;
	/*padding-bottom: 70%; only if a lot of classes (ie, .search.location.tag, etc)*/ padding-bottom: 35%;
	width: 40%;
}
.table .people-actions {
	overflow: hidden;
	padding-bottom: 1rem;
}
.people-actions-inner {
	padding: 1rem; padding: 0 0 0 1rem;
}
.default .people-actions-inner {
	position: absolute;
	top: 0;
	right: 5px;
	bottom: 5px;
	left: 0;
}
.table .people-actions-inner {
	float: right;
	width: 25%;
}
.people-actions-inner h2 {
	font-weight: normal;
	text-transform: uppercase;
}
.filter {
	box-sizing: border-box;
	max-height: 120px;
	overflow: auto;
	position: relative;
}
.browse-terms {
	background: #5e6a71;
	list-style: none;
	padding: 0;
}
.browse-terms li {
	padding: 0;
}
.browse-terms input {
	display: none;
}
.browse-terms span {
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 14px;
	padding: 0.3rem 0.5rem;
}
.browse-terms span:hover {
	background: #464e54;
}
.browse-terms :checked + span {
	font-weight: bold;
	background: #981e32;
}
.browse-terms :checked + span:hover {
	background: #c60c30;
}

/* Profile */
.cahnrs-profile-background {
	background: rgba(94,106,113,0.75);
	display: none;
	height: 100%;
	left: 0%;
	position: fixed;
	text-align: center;
	top: 0%;
	width: 100%;
	z-index: 99165;
}
.cahnrs-profile-background:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  /*margin-right: -6px;*/
}
.cahnrs-profile {
	background: #fff;
	box-shadow: 0px 5px 25px 0px rgba(70,78,84,0.75);
	box-sizing: border-box;
	display: inline-block;
	max-width: 990px;
	padding: 2rem;
	position: relative;
	text-align: left;
	vertical-align: middle;
	width: 100%;
}
.row .wsuwp-people-wrapper a.close-profile {
	background: #981e32;
	color: #fff;
	height: 2rem;
	line-height: 2rem;
	left: 0;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: 0;
	width: 2rem;
	z-index: 1;
}
.profile-link.close:hover {
	background: #c60c30;
}
.cahnrs-profile .contact {
	padding-bottom: 0;
}
.row .wsuwp-people-wrapper .edit-profile {
	color: #fff;
	position: absolute;
	right: 1rem;
	top: 0.4rem;
}

@media screen and (max-width:791px) {
	.people-actions {
		float: none;
		width: 100%;
	}
	.default .people-actions {
		padding-bottom: 2rem;
		padding-right: 5px;
	}
	.people-actions-inner {
		padding: 0;
		position: relative;
	}
	.table .people-actions-inner {
		float: none;
		width: auto;
	}
	.default .wsuwp-person-container {
		padding-bottom: 45%;
		width: 25%;
	}
}

@media only screen and (max-width:693px) {
	.default .wsuwp-person-container {
		padding-bottom: 62%;
		width: 33.3%;
	}
	.table.wsuwp-people-wrapper thead {
		display: none;
	}
	.table .wsuwp-person-container td {
		display: block;
	}
	.table .wsuwp-person-container .photo {
		float: left;
		padding: 1rem 0.5rem 0.5rem 1rem;
		width: 124px;
	}
	.table .wsuwp-person-container .photo img {
		width: 124px;
	}
	.table .wsuwp-person-container .card {
		overflow: hidden;
		padding: 1rem 1rem 0.5rem 0.5rem;
		text-overflow: ellipsis;
		width: auto;
	}
	.table .wsuwp-person-container .about {
		border-top: none;
		clear: both;
	}
}

@media only screen and (max-width:480px) {
	.default .wsuwp-person-container {
		padding-bottom: 90%;
		width: 50%;
	}
}

@media only screen and (min-width:1188px) {
	.default .wsuwp-person-container {
		padding-bottom: 28%;
		width: 16.65%;
	}
	.default .people-actions {
		padding-bottom: 56%; padding-bottom: 28%;
		width: 33.3%;
	}
}

@media only screen and (min-width:1386px) {
	.default .wsuwp-person-container {
		padding-bottom: 22%;
		width: 12.5%;
	}
	.default .people-actions {
		padding-bottom: 44%; padding-bottom: 22%;
		width: 25%;
	}
}