/* Extension */
.wsuwp-people-wrapper {
	color: #5e6a71;
}
.row .wsuwp-people-wrapper a {
	color: #981e32;
}
.row .wsuwp-people-wrapper a:hover {
	color: #c60c30;
}
.wsuwp-people-wrapper.default * {
	box-sizing: border-box;
}
.default .wsuwp-person-container {
	display: block;
	float: left;
	padding-bottom: 225px; padding-bottom: 25%;
	position: relative;
	width: 150px; width: 12.5%;
}
.default .person {
	background-color: #fff;
	bottom: 5px;
	display: block;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 5px;
	text-decoration: none;
	top: 0;
}
.default .person img {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
}
.default .card {
	padding: 0.5rem;
}
.default .wsuwp-person-name {
	font-weight: bold;
}

/* Filters */
.people-actions {
	display: block;
	float: right;
	padding-bottom: 450px; padding-bottom: 50%;
	position: relative;
	width: 300px; width: 25%;
}
.people-actions-inner {
	background: #fff;
	padding: 1rem;
	position: absolute;
	top: 0;
	right: 5px;
	bottom: 5px;
	left: 0;
}
.people-actions-inner h2 {
	font-weight: normal;
	text-transform: uppercase;
}

/*.items {
	list-style: none;
}
.items li {
	line-height: normal;
	padding: 0;
}*/

.browse-terms {
	padding: 0;
	list-style: none;
}
.locations-container {
	height: 150px;
	overflow: scroll;
	position: relative;
}
.browse-terms.locations {
	background: #5e6a71;
}
.browse-terms.locations li {
	padding: 0;
}
.browse-terms.locations li span {
	color: #fff;
	display: block;
	padding: 0.3rem 0.5rem;
}


.items input {
	display: none;
}
label span {
	cursor: pointer;
	font-size: 14px;
}
label span:hover {
	background: #464e54;
}
:checked + span {
	font-weight: bold;
	background: #981e32;
}


/* Profile */
.cahnrs-profile-background {
	background: rgba(94,106,113,0.96);
	display: none;
	height: 100%;
	left: 0%;
	position: fixed;
	text-align: center;
	top: 0%;
	width: 100%;
	z-index: 99165;
}
.cahnrs-profile-background:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -6px; /* ? */
}
.cahnrs-profile {
	background: #fff;
	box-shadow: 0px 5px 25px 0px rgba(70,78,84,0.75);
	display: inline-block;
	max-width: 990px;
	padding: 2rem;
	position: relative;
	text-align: left;
	vertical-align: middle;
	width: 100%;
}
.row .wsuwp-people-wrapper a.close-profile {
	background: #981e32;
	color: #fff;
	height: 2rem;
	line-height: 2rem;
	left: 0;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: 0;
	width: 2rem;
	z-index: 1;
}
.profile-link.close:hover {
	background: #c60c30;
}
.cahnrs-profile .contact {
	padding-bottom: 0;
}


@media only screen and (max-width: 693px) {
	.default .wsuwp-person-container {
		width: 33.3%;
	}
}

@media only screen and (min-width:990px) {
	.default .wsuwp-person-container {
		padding-bottom: 30%;
		width: 16.65%;
	}
	.people-actions {
		padding-bottom: 60%;
		width: 33.3%;
	}
}

@media only screen and (min-width:1188px) {
	.default .wsuwp-person-container {
		padding-bottom: 30%;
		width: 16.65%;
	}
	.people-actions {
		padding-bottom: 60%;
		width: 33.3%;
	}
}

@media only screen and (min-width:1386px) {
	.default .wsuwp-person-container {
		padding-bottom: 22%;
		width: 12.5%;
	}
	.people-actions {
		padding-bottom: 44%;
		width: 25%;
	}
}